header {
    margin: 20px;
    color: var(--headercolor);
}

header sub{
    text-decoration: underline;
    color: var(--headercolor);
    font-variant: small-caps;
    font-size:15px;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
}

header h1 {
    margin: 0px;
    text-shadow: 2px 2px 2px black;
}

nav {
    max-width: 15em;
    margin: auto;
}

.menu-bar {
    display:flex;
    flex-direction: row;
    gap: 10px;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.menu-bar {
    background-color: var(--maincolor);
    padding: 0.5em;
    margin: 0.1em;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0.0,0.0,0.0,0.5);
}

.menu-bar li {
    list-style: none;
    padding: 0.5em;
    border-radius: 10px;
    background-color: var(--bg);
    text-decoration: none;
    box-shadow: 2px 2px rgba(0.0,0.0,0.0,0.5);
}

.menu-bar li:hover{
    background-color: var(--headercolor);
    color: black;
    transition: all 0.5s;

}

.menu-bar a {
    text-decoration: none;
    color: var(--mainfontcolor);
}


h1 a {
    text-decoration:none;
    color: var(--headercolor);
}

body {
    background: var(--bg);
    -webkit-font-smoothing: antialiased;
}

main {
    background-color: var(--maincolor);
    color: var(--mainfontcolor);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px black;
    max-width: 1000px;
    margin: auto;
    font-size: 1.1em;
}

main h1,h2,h3,h4 {
    color: var(--mainheadercolor);
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px var(--bg);
}

main a {
    color: var(--linkcolor);
}

main a:visited {
    color: var(--linkvisitedcolor);
}

main img{
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

main code {
    background-color: var(--bg);
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    outline-style: solid;
    outline-width: thin;
}

main pre code {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

li p {
    margin: 1px;

}

.footnote {
    text-decoration:none;
}

.footnote sub {
    vertical-align: 0.3em;
    font-size: 0.65em;
}


.watermark-image {
  position: fixed;
  bottom: 10;
  right: 10;
  opacity: 0.8; 
  z-index: 1; 
}

.watermark-image img {
  max-width: 200px; 
  height: auto; 
  opacity: 0.5;
}

.home-page h1 {
    text-align: center;
}

.home-page div {
    font-size: large;
    outline-style: outset;
    outline-color: var(--mainheadercolor); /*var(--headercolor);*/
    background-color: var(--bg);
    padding: 10px;
}

.blog-listing {
    background-color:var(--bg);
    padding: 10px;
    border-radius: 5px;
    outline-color: var(--mainheadercolor); /*var(--headercolor);*/
    outline-style: outset;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
    margin: 10px;
}

.blog-listing p {
    margin: 0px;

}

.blog-listing a {
    text-decoration: underline;
}

.date {
    margin-left: 10px;
    color: var(--mainfontcolortransparent);
    
}

blockquote {
    display: block;
    border-left: solid var(--mainheadercolor);
    padding: 0.15em 0.25em 0.15em 0.75em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;

}

blockquote p {
    margin: 0.25em 0em 0.25em 0em;
}

blockquote footer {
    margin: 0.5em 0em 0.25em 0em;
    font-style: italic;

}

blockquote footer::before {
    content: "➛";
}


:root {
    --bg:#293241 ;
    --maincolor: #3D5A80;
    --mainfontcolor: #E0FBFC;
    --mainfontcolortransparent: rgba(88,98,99,0.75);
    --headercolor: #E0FBFC;
    --mainheadercolor: #EE6C4D;
    --linkcolor: #EE6C4D;
    --linkvisitedcolor:#98C1D9;
    --linkhoveredcolor:#98C1D9;
    --contentWidth: 1200px;
}
